.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.loader-icon {
  width: 40px;
  height: 40px;
  color: #4b9cdb;
  animation: spin 1s linear infinite;
}

.loading {
  color: #666;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}